/**
 * Copyright 2008 Google Inc.
 * All Rights Reserved.
 *
 * CSS JANUS
 * @author elsigh@google.com (Lindsey Simon)
 */

/* g-tpl-50-50 g-unit */
.g-tpl-50-50 .g-unit {
  display: inline;
  margin: 0;
  width: 49%;
  float: right;
}
/* g-tpl-50-50 g-first */
.g-tpl-50-50 .g-first {
  display: inline;
  margin: 0;
  width: 49%;
  float: left;
}
label {
  display: block;
  font-weight: bold;
}
form em {
  display: block;
  font-size: 85%;
}
form div {
  margin: 1em 0 0 0;
}

a img {
  border: none;
}
.g-doc-1024 {
  padding-top: 2em; 
}
#cssj-altuse {
  margin-top: 2.5em;
  border-top: 1px dashed #666;
  padding-top: 15px;
}
pre {
  background: #eee none repeat scroll 0%;
  border: 1px solid #999999;
  color: #666;
  padding: 1em;
  width: 33em;
  margin-top: 0;
}
.cssj-submit {
  margin: 1em 0 0 0;
}
#cssj-submit {
  margin-right: 1em;
  font-weight: bold;
  font-size: 2em;
}
fieldset {
  margin: 1.6em 0;
  border: 1px dotted #999;
  padding: 0 1.5em 1.5em;
}
fieldset label {
  display: inline;
  margin: 0 1em 0 0;
}
legend {
  padding: 3px 8px;
  font-weight: bold;
  font-style: italic;
  background: #eee;
  color: #000;
}
textarea {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  width: 32em;
}
#cssj-msg {
  color: red;
}
#cssj-example {
  float: right;
  text-decoration: underline;
  color: #00c;
  cursor: pointer;
}
